body {
    font-family: sans-serif; /* Используем простой и читаемый шрифт */
    margin: 10px; /* Добавляем отступы со всех сторон */
    background-color: #f4f4f4; /* Светлый фон страницы */
    color: #333; /* Темный цвет текста для хорошей контрастности */
}

h1 {
    text-align: center; /* Заголовок по центру */
    margin-bottom: 10px; /* Отступ снизу от заголовка */
    color: #007bff; /* Синий цвет для заголовка */
}

.btc_price {
    border: 1px solid #ddd; /* Рамка для блока с ценой */
    padding: 10px; /* Отступы внутри блока */
    background-color: #fff; /* Белый фон для блока */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Тень для блока */
}

h2 {
    color: #555; /* Более темный цвет для подзаголовка */
}

p {
    margin-bottom: 10px; /* Отступ снизу для абзацев */
}