/* Подключаем шрифт Oswald из Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Шапка */
.header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 8px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Заголовок в шапке */
.crypto-header {
    font-family: 'Oswald', sans-serif; /* Используем Oswald */
    font-size: 1.5em;
    font-weight: 600; /* Можно изменить на 300 или 600 */
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Логотип */
.crypto-logo {
    width: 24px;
    height: 24px;
}

/* Основной контент */
.content {
    margin-top: 60px;
    text-align: center;
    padding: 20px;
}

/* Стиль для процента изменения цены */
.price-change {
    font-size: 0.8em;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 12px; /* Закругленные края */
    margin-left: 6px;
    background-color: #e0e0e0; /* Светло-серый фон по умолчанию */
    color: #333; /* Темно-серый текст по умолчанию */
}

/* Зеленый для положительного изменения (цвет цифр) */
.price-change.positive {
    background-color: #e0e0e0; /* Сохраняем светло-серый фон */
    color: #388e3c; /* Зеленый для текста */
}

/* Красный для отрицательного изменения (цвет цифр) */
.price-change.negative {
    background-color: #e0e0e0; /* Сохраняем светло-серый фон */
    color: #d32f2f; /* Красный для текста */
}

/* Стиль для блока среднего отклонения в виде кубика */
.price-deviation {
    background-color: #666; /* Светлый фон для блока */
    padding: 20px; /* Увеличенные отступы для лучшего восприятия */
    border-radius: 8px; /* Закругленные углы для кубика */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для выделения */
    margin-top: 95px; /* Отступ сверху от шапки */
    font-size: 1.1em; /* Размер шрифта */
    color: #fff; /* Темно-серый цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    width: 100%; /* Занимает всю ширину родительского контейнера */
    max-width: 600px; /* Максимальная ширина блока */
    margin-left: auto; /* Центрируем блок по горизонтали */
    margin-right: auto; /* Центрируем блок по горизонтали */
}

/* Стиль для значения среднего отклонения */
.price-deviation p {
    margin: 0;
    font-weight: 500;
    color: #fff; /* Темно-серый цвет текста */
}
