<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!-- Подключение внешнего CSS файла -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Small crypto data</title>
</head>
<body>

    <h1>Small Crypto Data</h1>

    {% if btc_price and timestamp %}
    <div class="btc_price">

        <h2>Цена Bitcoin (UTC+2)</h2>
        <p>Цена: ${{ btc_price }} - Время: {{ timestamp }}</p>
    {% else %}
        <p>Данных нет.</p>
        </div>
    {% endif %}

</body>
</html>

